body {
  font-family: 'Assistant Light';
}

@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Assistant-Regular.ttf'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Assistant Light';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Assistant-Light.ttf'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Assistant Extra Light';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Assistant-ExtraLight.ttf'); /* Safari, Android, iOS */
}
